#topbar {
	position: relative;
	height: 50px;
	width: 100%;
	background: black;
	#account {
		position: absolute;
		left: 0;
		margin: 10px;
		color: white;
	}
	#connect-btn {
		position: absolute;
		right: 0;
		margin: 10px;
	}
}
